.nav_link{
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.8rem;
    color: black;
}

.nav_link:hover{
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.brand_section{
    height: 500px;
    width: 100vw;
    background: var(--color-primary);
    display: flex;
    align-items: center;
    position: relative;
}

.brand_section p{
    font-size: 3.5rem;
    color: var(--color-text-in-primary);
}

.logo_nome{
    height: 120px;
}

.main_img{
    position: absolute;
    right: 0;
    top: 0;
    height: 480px;
}

.container_grid{
    height: 160px;
    padding: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 160px;
    grid-template-areas: "texto agendar buttons";
    border-bottom: solid 3px var(--color-border);
}


.container_grid p{
    grid-area: texto;
    align-self: center;
    font-size: 2rem;
}

.container_grid span{
    grid-area: agendar;
    justify-self: end;
    align-self: center;
    font-size: 1.8rem;
    margin-right: 50px;
}

.button_container{
    grid-area: buttons;
    justify-self: center;
    align-self: center;
}

.button_container a{
    text-decoration: none;
    padding: 25px 65px;
    border-radius: 10px;
    color: var(--color-text-in-primary);
    font: 700 2.0rem Archivo;
}

#pessoa_btn{
    margin-right: 10px;
    background: var(--color-primary);
    transition: background 0.2s;
}

#pessoa_btn:hover{
    background: var(--color-primary-dark);
}

#escola_btn{
    background: var(--color-secundary);
    transition: background 0.2s;
}

#escola_btn:hover{
    background: var(--color-secundary-dark);
}

.atractions_section{
    display: grid;
    padding: 0 10% 0 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px;
    grid-template-areas: 'imagem carousel';
    border-bottom: 3px solid var(--color-border);
}

.atractions_section img{
    grid-area: imagem;
    justify-self: start;
    align-self: center;
    height: 400px;
}

.carousel{
    grid-area: carousel;
    align-self: center;
    justify-self: center;
}



