.heroimage{
    padding: 0% 10%;
    background: var(--color-primary);
    height: 500px;
    display:flex;
    align-items: center;
    position: relative;
}

.heroimage p{
    font-size: 4.5rem;
    font: bold;
    color: var(--color-text-in-primary);
}

.logo_nome{
    height: 125px;
    /* position: absolute;
    top: 15%;  */
}

.mainimage{
position: absolute;
top:0;
right: 0;
max-height: 480px;
}

